* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
}

div.descuento {
    background-color: #1CD1B0;
    padding: 10px;
    font-size: 1rem;
    line-height: 17.58px;
}

header {
    background-color: #00669F;
    position: sticky;
    top: 0px;
    box-shadow: 0px 10px 7px 0px #00000040;
    z-index: 10;
}

h1 {
    font-size: 40px;
    font-weight: 400;
    line-height: 46.88px;
    padding: 28px;
}

main {
    min-height: 834px;
}

/*Flexbox Container*/
section {
    margin-left: 32px; /*Hay que sumar el margin 15 px porque elegí flex-start para main axis*/
    margin-top: 154px; /*Es desde el header porque ya no es absolute (sin flex era desde el body)*/
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

/*Flexbox Items*/
article.contenedor-uno, article.contenedor-dos, article.contenedor-tres, article.contenedor-cuatro {
    position: relative; /*Hay que posicionarlos relative pero sin desplazarlos, para que las imágenes absolute (hijas) tengan como punto de referencia a estos contenedores y no al body*/
}
/*Ya no sería necesario contar con clase para cada article, pero fueron definidos en el tp de position*/

/*Código CSS con position que hay que modificar para usar Flex 

article.contenedor-uno {
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
    position: absolute;
    top: 293px;
}
article.contenedor-dos {
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
    position: absolute;
    top: 293px;
    left: 347px;
}
article.contenedor-tres {
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
    position: absolute;
    top: 293px;
    left: 677px;
}

-----Fin modificación*/


/* Fondo Card Batman */
.imagen-portada-batman {
    background-image: url('../img/fondo-batman.png');
    width: 300px;
    height: 193px;
    border-radius: 16px 16px 0px 0px;
}

/* Fondo Card Harley */
.imagen-portada-harley {
    background-image: url('../img/fondo-harley.png');
    width: 300px;
    height: 193px;
    border-radius: 16px 16px 0px 0px;
}

.corazon {
    position: absolute;
    top: 15.87px;
    left: 21px;
}

.imagen-retrato {
    border-radius: 50%;
    width: 122px;
    height: 122px;
    position: absolute;
    top: 128px;
    left: 90px;
    box-shadow: 0px 0px 5px 5px #00000040;
}

.texto-contenedor {
    background-color: #F3F3F3;
    width: 300px;
    height: 336px;
    box-shadow: 0px 4px 4px 0px #00000040;
    text-align: center;
}

.texto-contenedor h2 {
    font-size: 30px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    padding-top: 74px;
}

.texto-contenedor p {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: justify;
    padding: 10px 18px 37px;
}

.boton-ver-mas {
    background-color: #00669F;
    border: none;
    color: #FFF9F9;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    width: 130px;
    height: 50px;
    padding: 15px 37px;
}

footer {
    background-color: #00669F;
    color: #FFF9F9;
    font-size: 1rem;
    font-weight: 400;
    line-height: 18.75px;
    padding: 1rem;
    bottom: 0px;
    width: 100%;
    text-align: center;
}

/* Botón Fixed */
div.boton-fijo {
    background-color: #00669F;
    text-align: center;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    position: fixed;
    top: 50vh;
    right: 2rem;
    padding: 0.3rem;
    box-shadow: 0px 4px 4px 0px #00000040;
}
div.boton-fijo p {
    font-size: 2rem;
}
div.boton-fijo p a {
    text-decoration: none;
    color: #FFFFFF;
}

/*----- RESPONSIVE -----*/
/* Ancho a partir del cual baja una tarjeta (ancho 4cards + gap) */
@media (max-width: 1320px) {
    main {
        min-height: 1393px; /*Aumento altura para que entren 2 cards wrap, sus gap y un margen hasta el footer*/
    }
}
/* Celular */
@media (max-width: 460px) {
    main {
        min-height: 2500px; /*Aumento altura para que entren 3 cards wrap, sus gap y un margen hasta el footer*/
    }
    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        flex-wrap: wrap;
        margin-left: 0px;
    }
}